{% extends "startform.html" %}
{% load staticfiles %}

{% block title %}
    {{cate_name}}
{% endblock%}

{% block script_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card text-center"> <h1 class="mb-5" id="my">{{cates.podcategory}}</h1> </div>
    {% for post in cates.pos.all %}
            {% include 'includes/include.html' %}
            
            <!-- <input type="button" id="mybutton" disabled value="Добавить сущность"> -->
    {% endfor %}
    
{% endblock %}