{% extends "startform.html" %}
{% load staticfiles %}

{% block title %}
    Создание запроса
{% endblock %}

{% block script_head %}
    <script type="text/javascript" src="{% static 'js/post_create.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form.post.as_p }}
        {% for form_set in form.dform %}
            <div class="d-none entity entity-{{ forloop.counter0 }}">
                {{ form_set.as_p }}
            </div>
        {% endfor %}


        <!-- <input type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample" id="mybutton" disabled value="Добавить сущность">
            <div class="collapse" id="collapseExample">
              <div class="form-group">
                <label >Вопрос:<input class="form-control" id="text_question" readonly ></label>
                <label >Сущность:<input class="form-control" id="text" ></label>
                <label>Категория сущности: <select id="category" class="form-control">
                        <option selected>1</option>
                        <option>2</option>
                      </select></label>
                <input type="button" value="Сохранить  сущность">
              </div>
            </div> -->
        <input type="submit" class="btn btn-primary" value="Сохранить">
    </form>

{% endblock %}